body {
  margin: 40px;
}
#box2, #box3, #box4, #box5, #box7 {
  background-color: #DAA520;
  color: #228B22;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
#box1 , #box6, #box8, #box9 {
  background-color: #000000;
  color: #228B22;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
#box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}
#wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 480px);
  grid-template-rows: 480px 480px 480px;
  grid-auto-flow: row;
}
