body {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 70px;
}
#photo, #links, #education, #ambitions {
  background-color: #DAA520;
  color: #228B22;
  border-radius: 1%;
  padding: 2%;
  font-size: 50%;
}
#about , #Experience, #box8, #box9 {
  background-color: #000000;
  color: #228B22;
  border-radius: 1%;
  padding: 2%;
  font-size: 50%;
}
#box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}
#primary {
  width:  100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 58%);
  grid-template-rows: repeat(3 , 58%);
  grid-auto-flow: row;
}
#menu{
  display: inline-grid;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 35%;
  margin-left: 0%;
  margin-right: 40%;
}
#Leila-image{
  padding-top: 20%;
  margin: 0 auto;
  max-width: 100%;
 }
 #graduation{
   margin: 0 auto;
   max-width: 100%;
 }
 figcaption{
  font-size: 0.875em;0
  line-height: 1.07em;
}
