/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base style elements */
html {
  background-color: #ffffff;
  color: #000000;
  font-family:"Helvetica Neue", Helvetica , Arial, sans-serif;
  margin: 1%;
}
figcaption{
  font-size: 0.875em;
  line-height: 1.07em;
}
h2{
  font-size: 1.75em; /*28px /*16 = 1.75px */
  line-height: 1.28em; /* 36px /  28px= 1.28*/
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 20%;
}
p{
  font-size: 1.125em; /*18px /*16 = 1.125px */
  line-height: 1.222em; /* 22px /  18px= 1.222...*/
}
ul{
  color: #000000;
  display: block;
  font-size: 0.8125em; /*13px /*16 = 0.8125 */
  line-height: 1.23em; /* 16px /  13px= 1.23*/
  margin-top: 60%;
}
video {
  display: block;
  padding-top: 15px;
  margin: 0 auto;
  max-width: 100%;
}
/* module styles (id selectors) */
#primary {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 49.5%);
  grid-template-rows: repeat(3 , 19%);
}
#primary :hover:not(.active) {
  background-color: #595959;
  border-radius: 5px;
  opacity: .9;
}
#ambitions{
  grid-column: 1/3;
  grid-row: 4;
}
#education{
  grid-column: 1/3;
  grid-row: 2;
}
#experience{
  grid-column: 1/3;
  grid-row: 3;
}
#header{
  grid-column: 1/2;
  grid-row: 1;
}
#links{
  grid-column: 2/3;
  grid-row: 5;
}
#photo{
  grid-column: 2/3;
  grid-row: 1;
}
#return{
  grid-column: 1/2;
  grid-row: 5;
}
#header , #experience, #links {
  background-color: #DAA520;
  border-radius: 2%;
  color: #000000;
  padding: 2%;
}
#photo, #education, #ambitions, #return {
  background-color: #595959;
  border-radius: 2%;
  color: #ffffff;
  padding: 2%;
}
#education a, #return a{
  color: #ffffff;
}
#header a, #links a{
  color: #000000;
}
#education h2, #experience h2, #ambitions h2{
  padding-bottom: 10px;
}
#graduation{
  display: block;
  padding-top: 15px;
  margin: 0 auto;
  max-width: 100%;
}
#navigation{
  display: inline-grid;
  font-weight: bold;
  font-size: 1.125em; /*18px /*16 = 1.125px */
  line-height: 1.333em; /* 24px /  18px= 1.333...*/
  margin-bottom: 35%;
  margin-left: 0%;
  margin-right: 40%;
  margin-top: 10%;
}
#return{
  font-size: 0.8125em; /*13px /*16 = 0.8125 */
  line-height: 1.23em; /* 16px /  13px= 1.23*/
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 70%;
}
#videocaption{
  display: block;
  padding-bottom: 15px;
  font-size: 0.875em;
  line-height: 1.07em;
}
/* State style (media queries) */
@media screen and (min-width: 648px) {
  html{
    font-size: 1.3em;
    line-height: 1.35em;
  }
  figcaption{
  padding-bottom: 25px;
  padding-left: 30%;
}
  #graduation{
  display: block;
  max-width: 40%;
  padding-top: 25px;
}
img{
  display: block;
  max-width: 60%;
  padding-top: 17px;
}
  #return a{
  display: block;
  padding-top: 20%;
}
  ul{
  display: block;
  padding-top: 25%;
}
  video{
  display: block;
  max-width: 40%;
  padding-left: 5px;
}
  #videocaption{
  display: block;
  padding-bottom: 25px;
  padding-left: 30%;
}
}
